extends base.pug 

block scripts  
    script(src='/static/index.js')
block style 
    style
      include ../static/style.css
block content
    div.cont
        div.link
            a(href="#section11") section1
            br
            a(href="#section22") section2
            br
            a(href="#section3") section3
            br
            a(href="#section4") section4
            br
            a(href="#section5") section5
            br
            a(href="#section6") section6
            br
            a(href="#section7") section7
            br
            a(href="#section8") section8
            br
            a(href="#section9") section9 
            br
            a(href="#section10") section10
        div.cont1
            h1 This is about page of my web 
            section#section11
            h3 this is a section 1
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section22
            h3 this is a section 2
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section3
            h3 this is a section 3
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section4
            h3 this is a section 4
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section5
            h3 this is a section 5
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section6
            h3 this is a section 6
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section7
            h3 this is a section 7
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section8 
            h3 this is a section 8
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section9 
            h3 this is a section 9
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            section#section10
            h3 this is a section 10
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione cum assumenda pariatur itaque consectetur voluptate dolores, placeat iure possimus atque in laboriosam explicabo necessitatibus cupiditate. Magni enim numquam totam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet accusamus, repellendus quasi, alias temporibus velit maiores beatae repudiandae amet nulla numquam! Ex non laborum voluptates corrupti eum? Magnam, explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis magni labore necessitatibus eum rem sapiente explicabo quaerat alias harum dignissimos unde blanditiis incidunt corporis, veniam provident saepe perspiciatis quibusdam.