doctype html
html
  head
    title Harry Dance Academy
    block scripts
    block style 
    nav#navbar 
      ul
        .logo 
          |Kilo 
        li #[a(href="/") Home]
        li #[a(href="/about") About]
        li #[a(href="/contact") Contact]
        li #[a(href="/service") Service]
        li #[a(href="/cell") Cell]
  body
    block content
    footer 
        | Anurag Tiwari Copywrite@Anurag052