extends base.pug 

block scripts  
    script(src='/static/index.js')
block style 
    style
      include ../static/style.css
block content
    div.c1
        img(src="https://0901.static.prezi.com/preview/v2/eoh7xuz6ewfcqz5gy7f6pk2yyl6jc3sachvcdoaizecfr3dnitcq_3_0.png")