extends base.pug 

block scripts  
    script(src='/static/index.js')
block style 
    style
      include ../static/style.css
block content
    //- nav#navbar 
    //-   ul
    //-     .logo 
    //-       |Kilo 
    //-     li #[a(href="/") Home]
    //-     li #[a(href="/about") About]
    //-     li #[a(href="/contact") Contact]
    //-     li #[a(href="/service") Service]
    //-     li #[a(href="/cell") Cell]
    section#section1 
    section#section2 
      div Welcome to my restorent 
      div.as This is big and good restorent 