extends base.pug 

block scripts  
    script(src='/static/index.js')
block style 
    style
      include ../static/style.css
block content 
    div.co
        h1 More about Restaurant Service
        div For a memorable meal the quality of the service is something that guests often remember as much as the food and drink served.

        That means that restaurant servers must show extensive knowledge of all types of cuisine and dishes, especially the ingredients and cooking style of the dishes on an a la carte menu. They will need to know and understand the methods of preparation and serving, along with the tools used.

        Regardless of whether it is a self-service cafeteria or a five star hotel restaurant good manners, a smart appearance, and impeccable personal hygiene are equally essential.
        div For a memorable meal the quality of the service is something that guests often remember as much as the food and drink served.

        That means that restaurant servers must show extensive knowledge of all types of cuisine and dishes, especially the ingredients and cooking style of the dishes on an a la carte menu. They will need to know and understand the methods of preparation and serving, along with the tools used.

        Regardless of whether it is a self-service cafeteria or a five star hotel restaurant good manners, a smart appearance, and impeccable personal hygiene are equally essential.
        div For a memorable meal the quality of the service is something that guests often remember as much as the food and drink served.

        That means that restaurant servers must show extensive knowledge of all types of cuisine and dishes, especially the ingredients and cooking style of the dishes on an a la carte menu. They will need to know and understand the methods of preparation and serving, along with the tools used.

        Regardless of whether it is a self-service cafeteria or a five star hotel restaurant good manners, a smart appearance, and impeccable personal hygiene are equally essential.
        div For a memorable meal the quality of the service is something that guests often remember as much as the food and drink served.

        That means that restaurant servers must show extensive knowledge of all types of cuisine and dishes, especially the ingredients and cooking style of the dishes on an a la carte menu. They will need to know and understand the methods of preparation and serving, along with the tools used.

        Regardless of whether it is a self-service cafeteria or a five star hotel restaurant good manners, a smart appearance, and impeccable personal hygiene are equally essential.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aut accusantium exercitationem veritatis quas sit, eligendi doloribus ipsum quasi laborum eveniet quis officia reiciendis eaque dolore quod unde nostrum iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam unde ab porro voluptate adipisci, beatae iusto veritatis quia facilis laboriosam reiciendis hic ducimus, doloribus a quos repudiandae saepe molestias consequatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque porro consectetur. Laudantium tenetur harum, ipsa alias, fugiat porro nostrum sed facilis maxime fuga est voluptatum consequatur quam tempora. Quasi.